# Index Zero
## Cameron Yap, Emily Christiansen, Madeleine Thompson, Stefan Lin
### Dashboard

In [3]:
from dash import html, dcc
import plotly.graph_objects as go
import plotly.express as px

In [2]:
import pandas as pd
import geopandas

In [19]:
gdf = geopandas.read_file('data/census_tracts_2010.geojson')
df = pd.read_csv('data/agg_stats.csv')
gdf

,shape_area,label,x_center,ct10,y_center,geoid10,shape_len,geometry
0,4025735684.42,9110.01,6620403.0,911001,1998891.0,06037911001,353933.808192,"MULTIPOLYGON (((-117.66712 34.55801, -117.6671..."
1,2078689856.02,9800.03,6575300.0,980003,2112006.0,06037980003,273188.86321,"MULTIPOLYGON (((-117.88061 34.76362, -117.8825..."
2,11118018325.1,9303.01,6603027.0,930301,1932124.0,06037930301,628603.531323,"MULTIPOLYGON (((-117.65524 34.39722, -117.6551..."
3,4824001.88224,5730.03,6500215.0,573003,1747305.0,06037573003,9050.00845755,"MULTIPOLYGON (((-118.19923 33.79712, -118.1992..."
4,6697030.7108,2976.02,6473372.0,297602,1719119.0,06037297602,12308.3153848,"MULTIPOLYGON (((-118.28798 33.72258, -118.2879..."
...,...,...,...,...,...,...,...,...
2340,46028495.7379,4013.11,6617825.0,401311,1862896.0,06037401311,31456.1519561,"MULTIPOLYGON (((-117.81179 34.12544, -117.8117..."
2341,28632199.8284,4019.02,6644839.0,401902,1859223.0,06037401902,24786.8586064,"MULTIPOLYGON (((-117.71319 34.10698, -117.7131..."
2342,18447170.2792,4019.01,6649851.0,401901,1859162.0,06037401901,18421.6402005,"MULTIPOLYGON (((-117.69963 34.10683, -117.6996..."
2343,16609048.601,4006.02,6589139.0,400602,1872791.0,06037400602,21934.7682696,"MULTIPOLYGON (((-117.90243 34.13345, -117.9031..."
2344,17430334.4865,1370.00,6367049.0,137000,1883654.0,06037137000,25763.1857789,"MULTIPOLYGON (((-118.64127 34.15792, -118.6412..."

In [20]:
df['geoid2']
# 10 digits

0       6037101110
1       6037101122
2       6037101210
3       6037101220
4       6037101300
           ...
2338    6037980026
2339    6037980028
2340    6037980030
2341    6037980031
2342    6037980033
Name: geoid2, Length: 2343, dtype: int64

In [9]:
gdf['geoid10']
# 11 digits with leading 0

0       06037911001
1       06037980003
2       06037930301
3       06037573003
4       06037297602
           ...
2340    06037401311
2341    06037401902
2342    06037401901
2343    06037400602
2344    06037137000
Name: geoid10, Length: 2345, dtype: object

In [14]:
df['geoid10'] = df['geoid2'].apply(lambda x: '0' + str(x))
df['geoid10']

0       06037101110
1       06037101122
2       06037101210
3       06037101220
4       06037101300
           ...
2338    06037980026
2339    06037980028
2340    06037980030
2341    06037980031
2342    06037980033
Name: geoid10, Length: 2343, dtype: object

In [16]:
joined_gdf = gdf.merge(df, on="geoid10")
joined_gdf

,shape_area,label,x_center,ct10,y_center,geoid10,shape_len,geometry,geoid,geoid2,...,Pop1064years,Elderly64years,Hispanic,White,AfricanAmerican,NativeAmerican,AsianAmerican,OtherMultiple,well_count,median_rent
0,4025735684.42,9110.01,6620403.0,911001,1998891.0,06037911001,353933.808192,"MULTIPOLYGON (((-117.66712 34.55801, -117.6671...",1400000US06037911001,6037911001,...,65.87,26.24,42.82,48.73,4.46,0.00,1.30,2.70,4,995.0
1,2078689856.02,9800.03,6575300.0,980003,2112006.0,06037980003,273188.86321,"MULTIPOLYGON (((-117.88061 34.76362, -117.8825...",1400000US06037980003,6037980003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
2,11118018325.1,9303.01,6603027.0,930301,1932124.0,06037930301,628603.531323,"MULTIPOLYGON (((-117.65524 34.39722, -117.6551...",1400000US06037930301,6037930301,...,78.39,19.22,23.24,56.03,8.17,0.00,2.51,10.05,0,1263.0
3,4824001.88224,5730.03,6500215.0,573003,1747305.0,06037573003,9050.00845755,"MULTIPOLYGON (((-118.19923 33.79712, -118.1992...",1400000US06037573003,6037573003,...,73.14,12.75,45.47,24.96,5.43,0.60,20.78,2.77,0,1100.0
4,6697030.7108,2976.02,6473372.0,297602,1719119.0,06037297602,12308.3153848,"MULTIPOLYGON (((-118.28798 33.72258, -118.2879...",1400000US06037297602,6037297602,...,71.71,19.04,38.70,44.29,3.39,0.24,9.49,3.88,0,1200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338,46028495.7379,4013.11,6617825.0,401311,1862896.0,06037401311,31456.1519561,"MULTIPOLYGON (((-117.81179 34.12544, -117.8117...",1400000US06037401311,6037401311,...,70.15,15.46,34.00,53.61,0.77,0.00,8.89,2.73,0,1680.0
2339,28632199.8284,4019.02,6644839.0,401902,1859223.0,06037401902,24786.8586064,"MULTIPOLYGON (((-117.71319 34.10698, -117.7131...",1400000US06037401902,6037401902,...,65.45,27.88,27.01,58.07,4.63,0.90,6.38,3.00,0,1269.0
2340,18447170.2792,4019.01,6649851.0,401901,1859162.0,06037401901,18421.6402005,"MULTIPOLYGON (((-117.69963 34.10683, -117.6996...",1400000US06037401901,6037401901,...,99.52,0.00,20.46,43.19,4.97,0.41,25.24,5.73,0,1508.0
2341,16609048.601,4006.02,6589139.0,400602,1872791.0,06037400602,21934.7682696,"MULTIPOLYGON (((-117.90243 34.13345, -117.9031...",1400000US06037400602,6037400602,...,74.33,12.28,68.14,20.73,2.09,0.35,7.79,0.89,0,1222.0
2342,17430334.4865,1370.00,6367049.0,137000,1883654.0,06037137000,25763.1857789,"MULTIPOLYGON (((-118.64127 34.15792, -118.6412...",1400000US06037137000,6037137000,...,68.74,21.06,7.62,75.01,5.01,0.45,8.72,3.18,0,1911.0

In [17]:
joined_gdf.to_file('data/agg_stats.geojson', driver="GeoJSON")

In [18]:
df.to_csv('data/agg_stats_geoid10.csv')